div#info {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  width: 20vw;
  max-width: 30vw;
  min-width: 10vw;
  padding-left: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
  font-size: 2rem;
  overflow: scroll;
  background-color: white;
  z-index: 100;
}

div#resizer {
  position: absolute;
  left: 0;
  top: 0;
  width: 8px;
  height: 100%;
  background-color: transparent;
  cursor: ew-resize;
}